services:
  ivan-frontend:
    container_name: ivan-frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile
    restart: always
    # env_file:
    #   - .env
    command: ["nginx", "-g", "daemon off;"]
    ports:
      - ${CLIENT_APP_PORT}:80
    labels:
      - io.portainer.accesscontrol.teams=IVAN-PROJECT

  ivan-server:
    container_name: ivan-server
    build:
      context: ./backend
      dockerfile: Dockerfile
    # env_file:
    #   - .env
    command: sh -c "npm run start:prod"
    restart: always
    ports:
      - ${SERVER_APP_PORT}:3000
    labels:
      - io.portainer.accesscontrol.teams=IVAN-PROJECT
